@tailwind base;
@tailwind components;
@tailwind utilities;

.gBtwiJ .interface-grid {
  background: #fff !important;
}

:root {
  --rm-audio-player-interface-container: #fff;
  --primary: 240 5.9% 10%;
}

.kuNzeN img {
  border-radius: 100% !important;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.dots span {
  animation: blink 1.4s infinite;
  animation-fill-mode: both;
}

.dots span:nth-child(2) {
  animation-delay: .2s;
}

.dots span:nth-child(3) {
  animation-delay: .4s;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

